.loading {
  animation: spin 3s linear infinite;
  animation-play-state: running;
  &--paused {
    animation-play-state: paused;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
